<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="de.uka.ipd.sdq.dsexplore.filter">
         <filter
         	class="org.palladiosimulator.dataflow.confidentiality.pcm.dsexplore.filter.ByIDFilteringAnalysis"
         	name="Filter for ID"
         >         
         </filter>
   </extension>
</plugin>
